{% extends "base.html" %} {%block title%} Inicio {%endblock title%} {% block body
%}
  

  <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner py-0" id="top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="left-content">
              <div class="thumb">
                <div class="inner-content">
                  <h4 style="color: #5bc6c9" >SUBWAY</h4>
                  <span>Delicia para tu paladar</span>
                  <div class="main-border-button">
                    <a href="#">Ver más!</a>
                  </div>
                </div>
                <img src="static/assets/images/bg1.jpg" height="560px">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-content">
              <div class="row">
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Footlongs</h4>
                        <span>delicia</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Footlong</h4>
                          <p>Delicioso pan a tu manera!</p>
                          <div class="main-border-button">
                            <a href="#">Descubre más</a>
                          </div>
                        </div>
                      </div>
                      <img src="static/assets/images/foot.jpg"  height="265x">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>foot 15cm</h4>
                        <span>genial</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>foot 15cm</h4>
                          <p>un foot a tu manera!1</p>
                          <div class="main-border-button">
                            <a href="#">Descubre más</a>
                          </div>
                        </div>
                      </div>
                      <img src="static/assets/images/15 cm.jpg" height="265px">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>foot 30cm</h4>
                        <span>nice!</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>foot 30cm</h4>
                          <p>foot a tu manera!</p>
                          <div class="main-border-button">
                            <a href="#">Descubre más</a>
                          </div>
                        </div>
                      </div>
                      <img src="static/assets/images/30cm.jpg" height="265px">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Combos</h4>
                        <span>genial</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Combos</h4>
                          <p>elige tu combo favorito!</p>
                          <div class="main-border-button">
                            <a href="#">Descubre más</a>
                          </div>
                        </div>
                      </div>
                      <img src="static/assets/images/combos.jpg" height="265px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- ***** Main Banner Area End ***** -->

<!-- ***** About Area Starts ***** -->
<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-image">
          <img src="static/assets/images/m.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <h4 style="color: #083555" >Sobre Subway</h4>
          <span>En los últimos años hemos cambiado a productos y prácticas que mejoran la eficiencia energética y la conservación del agua.</span>
          
          <p>El sistema SUBWAY se compromete a proporcionar una gran variedad de excelentes opciones de comidas sabrosas, mientras reducimos nuestro impacto en el medioambiente y creamos una influencia positiva en las comunidades que atendemos en todo el mundo</p>
          <ul>
            <li><a href="https://www.facebook.com/SubwayColombia/?locale=es_LA" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://x.com/SUBWAY?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** About Area Ends ***** -->

<!-- ***** Main Banner Area Start ***** -->

<!-- ***** Main Banner Area End ***** -->
<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d15749.331192694783!2d-75.39992545183169!3d9.303750902301832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d9.3054974!2d-75.3970278!4m5!1s0x8e591591a4e46469%3A0xf225c84ccb61114c!2sparque%20comercial%20guacar%C3%AD%20google%20map!3m2!1d9.3018783!2d-75.3826243!5e0!3m2!1ses-419!2sco!4v1739492372989!5m2!1ses-419!2sco"
            width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
          
          <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->

        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-heading">
          <h2 style="color: #083555" >Di hola. ¡Escribenos..!</h2>
          <span>Detalles a detalles es lo que diferencia a Subway de los otros.</span>
        </div>
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-6">
              <fieldset>
                <input name="name" type="text" id="name" placeholder="Tú nombre" required="">
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <input name="email" type="text" id="email" placeholder="Tú Correo" required="">
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea name="message" rows="6" id="message" placeholder="Escribe un mensaje " required=""></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="main-dark-button"><i
                    class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ***** Contact Area Ends ***** -->




{%endblock body%}
